<app-menu></app-menu>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <h2 class="p-2 bg-light text-center">Create Data</h2>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="mb-3">
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese nombre(s)"
            autocomplete="false" required [(ngModel)]="nombre">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese nombre(s)"
            autocomplete="false" required [(ngModel)]="apellido">
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" id="precio" name="precio" placeholder="Ingrese Saldo"
            autocomplete="false" required [(ngModel)]="precio">
        </div>
        <button class="btn btn-outline-success btn-sm w-100" [disabled]="!f.valid">
          <i class="fa-solid fa-circle-plus"></i> Add
        </button>
        <div class="card-footer text-muted mt-2">
          <a routerLink="/" class="btn btn-primary btn-sm w-100"><i class="fa-solid fa-angles-left"></i> Retornar</a>
        </div>
      </form>

    </div>
  </div>
</div>